<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>学生列表</title>
    <style>
      table {
        border-collapse: collapse;
      }
      th,
      td {
        font-size: 20px;
        border: 1px solid black;
        padding: 10px;
        text-align: center;
      }
      caption {
        font-size: 20px;
        font-weight: bold;
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <h1>students</h1>
    <%# name %> <br />
    <%# name %> <br />
    <%# age %> <br />
    <%# helloStr %> <br />
    <%# helloStr %> <br />
    <form action="/setName" method="post">
      <input type="text" name="name" placeholder="请输入名字" />
      <input type="submit" value="提交" />
    </form>
    <hr />
    <h1>当前用户：<% username %></h1>
    <a href="/logout">登出</a>
    <hr />
    <% for(const stu of students){ %> <%=stu.name %> - <%=stu.age %> <br />
    <% } %>
    <hr />
    <% if(students && students.length > 0){ %>
    <table>
      <caption>
        学生列表
      </caption>
      <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>性别</th>
        <th colspan="2">操作</th>
      </tr>
      <tbody>
        <% for(const stu of students){ %>
        <tr>
          <td><%=stu.id %></td>
          <td><%=stu.name %></td>
          <td><%=stu.age %></td>
          <td><%=stu.gender %></td>
          <td colspan="2">
            <a
              onclick="return confirm('确认删除吗？')"
              href="/delStudent?id=<%=stu.id %>"
              >删除</a
            >
            <a href="/toEdit?id=<%=stu.id %>">修改</a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <%} else{ %>
    <p>暂无学生</p>
    <% } %>
    <hr />
    <form action="/addStudent" method="post">
      <div>
        姓名：
        <input type="text" name="name" placeholder="请输入名字" />
      </div>
      <div>
        年龄：
        <input type="number" name="age" max="120" min="0" />
      </div>
      <div>
        性别：
        <input type="radio" name="gender" value="男" checked />男
        <input type="radio" name="gender" value="女" />女
      </div>
      <input type="submit" value="提交" />
    </form>
  </body>
</html>
